body {
	font-family: serif;
	background-color: #191919;
	color: #f0f0f0;
	text-align: center;
	max-width: 960px;
	margin: 20px auto;
	padding: 0px 12px;
}
body * {
	transition: color 250ms;
}
body *: hover {
	color: #cf1313;
}
ul:hover {
	color: inherit;
}
table > tbody > tr > * {
	color: black;
}
li {
	transition-duration: 250ms;
}
li:hover {
	color: #cf1313;
}
*, *:after, *:before {
	box-sizing: border-box;
}
.side {
	float: left;
	margin: 0;
	top: 2%;
	left: 0;
	width: 200px;
	height: max-content;
	list-style: none;
	padding-left: 0;
}
.side:before {
	/*content: '';*/
	display: block;
	position: absolute;
	pointer-events: none;

	background: linear-gradient(-70deg,rgba(0,0,0,0.2) 10%,white 110%);
	opacity: 0.77;

	height: 100%;
	width: 100%;
}
.side li {
	height: max-content;
	padding: .6rem;
	border: 2px solid black;
	display: block;
	background: linear-gradient(
		45deg,
		#9e9e93 0% 60%,
		#f0f0f0 100%
	);
	margin-bottom: 0.3em;
	border-radius: 0px 12px 12px 0px;
	border-style: inset;
	border-width: 0px 3px 3px 0px;
}
.side li,
.side li a {
	color: inherit;
}
.side li:hover {
	border-style: outset;
}
.main {
	float: right;
	width: calc(100% - 210px);
}

.main > :nth-child(1) {
	margin-top: 0px;
}

body:after {
	content: ' ';
	height: 0px;
	display: block;
	visibility: hidden;
	clear: both;
}
